@inherits LayoutComponentBase

<header>
    <div>
        <h1>Shades4You</h1>
    </div>
    <div>
        <button>View Cart</button>
    </div>
</header>

<section>
    <ul>
        <li>
            <div>Small Shade</div>
            <div>$50</div>
            <button>Add to cart</button>
        </li>
        <li>
            <div>Big Shade</div>
            <div>$75</div>
            <button>Add to cart</button>
        </li>
    </ul>
</section>

@code {
    // Add any necessary code-behind logic here
}

