@inherits LayoutComponentBase

<header>
    <div>
        <h1>Beta Shades4You - latest beta FusionFlash InnoBoost beta version</h1>
    </div>
    <div>
        <button>View Cart</button>
    </div>
</header>

<section>
    <ul>
        <li>
            <div>Crazy Shade</div>
            <div>$999</div>
            <button>Add to cart</button>
        </li>
        <li>
            <div>Throwing Shade</div>
            <div>$75</div>
            <button>Add to cart</button>
        </li>
    </ul>
</section>

@code {
    // Add any necessary code-behind logic here
}

